/* Navbar, html, header, body
-----------------------------*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 45px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    background-color: lightskyblue;
    font-family: Arial;
}

/* Sign-up Form Card 
--------------------*/
.signup-form-card {
    background-color: lightcoral;
    border-radius: 3%;
}

/* Add Form Card 
----------------*/
.add-form-card {
    background-color: lightcoral;
    border-radius: 5%;
}

/* Search and View Form Cards 
-----------------------------*/
.search-form-card {
    background-color: lightcoral;
    border-radius: 25px 25px 25px 25px;
}

.view-form-card {
    background-color: lightcoral;
    border-radius: 25px 25px 25px 25px;
}

.space {
    line-height: 38px;
}

/* Buttons 
----------*/
.btn {
    width: 100%;
    height: 60px;
}

/* Footer 
---------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}
