@{
    ViewData["Title"] = "Home Page";
}

<br><br><br><br><br><br>

<div class="text-center">
    <h1 class="display-1">Welcome to Tracker</h1>
    <h1 class="display-5">because it's the little things</h1>

    <br><br><br>

    <div class="card">
        <div class="row">
            <div class="column">
                <div class="card">..</div>
            </div>
            <div class="column">
                <div class="card">..</div>
            </div>
            <div class="column">
                <div class="card">..</div>
            </div>
        </div>
    </div>


    <div id="content">
        <div id="left">
            <h4 class="display-6">View items you're tracking</h4><br>
            <form class="track-form">
                <button type="submit" class="btn btn-outline-primary btn-lg">Tracked Items</button>
            </form>
        </div>

        &emsp;&emsp;&emsp;&emsp;

        <div id="right">
            <h4 class="display-6">Start tracking something new</h4><br>
            <form class="track-form">
                <button type="submit" class="btn btn-outline-primary btn-lg">New Item</button>
            </form>
        </div>
    </div>
</div>
